*{
    
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root{
    --bg-color:rgb(164, 109, 138);
    --second-bg-color:rgb(110, 100, 100);
    --text-color:white;
    --main-color:rgb(53, 4, 53);

}
body{
    background-color: var(--bg-color);
    color: white;

}
html{
    overflow-x: hidden;
    font-size: 90%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
    margin: 0 29px;
    font-size: 1.2rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    transition: .3s;
}
nav ul li a:hover,
nav ul li a.active{
    color: var(--main-color);
    font-size: 1.3rem;

}

header.sticky{
    border-bottom: .1rem solid rgb(193, 137, 165);
}
#mennu-icon{
    font-size: 3.6rem;
    color:white;
    display: none;
}
.left{
    font-size: 2.3rem;
    font-family: "poppin",sans-serif;
    font-weight: 800;
    color: var(--text-color);
}

.first{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    padding-left: 4px;
    margin-left:60px 0;

}
.first >div{
    color: white;
    width: 30%;
}
.first .resume{
    margin-top: 3%;
    padding: 12px;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-size: 40%;
    text-decoration: underline;
    border: solid white;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
}
.first .res :hover{
    box-shadow: none;
}
.image img{
    margin-top: 8%;
    width: 90%;
    border: 2px solid white;
}

.home-section{
    font-size: 2.5rem;
    margin-top: 12%;
    margin-left: 0%;
}

.home-section .blue{
    color:rgb(90, 15, 56);
    font-weight: 8rem;
    font-size: 4rem;
}
h3{
    font-size: 80%;
}
.home-section h3:nth-of-type(2){
    margin-bottom: 1.5rem;
}

#skill{
    font-size: 3rem;
    font-weight: 5rem;
    color: var(--main-color);

}
.media{
    display: inline-flex;
    gap: 1.5rem;
    width: 1rem;
    height: 1rem;
    background: transparent;
    font-size: 1.5rem;
    margin: 1rem 1.5rem 2rem 0;
    transition: .5s ease;

}
.media a:hover{
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
#about{
    padding: 4.6rem;
}
.image2 img{
    margin-top: 28%;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 33%;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11rem;
}
.heading{
    font-size: 3rem;
}

.heading span{
    font-weight: 8rem;
    color: var(--main-color);
}
.about-content h3{
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 2rem;
}
.about-content p{
    margin-bottom: 1%;
    font-size: 1rem;
}
.btn{
    margin: 4rem 0 3rem;
    font-size: 1.1rem;
    color: var(--main-color);

}
#project{
    padding: 3rem;
}
.main-heading{
    margin-top: 6rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
    flex-wrap: wrap;
}
.project-content{
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
.project-content .projects{
    flex:1 1 20rem;
    padding: 3rem 2rem 3rem;
    background: var(--second-bg-color);
    border-radius: 2rem;
    align-items: center;
    border: 2rem solid var(--bg-color);
    transition: .5s ease;
}
.project-content h3{
    font-size: 1.2rem;
    color: var(--main-color);
}
.contact h2
{
    text-align: center;
    margin-top: 7rem;
}
.coontact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: flex;
}
.contact form .input-box input,
.contact form textarea{
    width: 80%;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: var(--second-bg-color);
    border-radius: 8rem;
    margin: .7rem 0 ;
}
.contact form.input-box input{
    width: 20%;
}
.contact form textarea{
    resize: 10px;
}
.contact form .btn{
    background: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    padding: 12px;
    margin-top: 2rem;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 7%;
    background-color: var(--second-bg-color);

}
.footer-text p{
    font-size: 1rem;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--main-color);
    border-radius: 8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);

}
.footer-iconTop a i{
    font-size: 1rem;
    color: var(--second-bg-color);
}
/*........................................BREAK POINT.....................*/
@media(max-width:1200px)
{
    .html{
        font-size: 55%;
    }
}
@media (max-width:991px) {
    
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 2% 3rem;
    }
    footer{
        padding: 2rem 3%;
    }
}
@media(max-width:786px)
{
    #menu-icon{
        display: block;
    }
    nav{
        position: absolute;
    }
}













